<main>
	<div class="row">
		<div class="col-4">
			<header>
				<h1>Bowling Trackr</h1>
				<h2>Track your game scores and stats!</h2>
			</header>
			<div id="status" class="status"></div>
			<div id="formContainer">
				<form id="loginForm">
					<label for="username">Username</label>
					<input id="username" type="text" name="username" required>
					<label for="password">Password</label>
					<input id="password" type="password" name="password" required>
					<a id="forgotPasswordLink" href="#">Forgot your password?</a>
					<button type="submit">Login</button>
				</form>
				<a id="signUpLink">New here? Sign Up!</a>
			</div>
		</div>
	</div>
</main>

<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please Login</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>