/* Dynamically load css or preprocessor

	THEME

	Default bowling tv scorecard vs orange theme
	How does handlebars handle theming
*/

*:before, *:after {
  box-sizing: inherit;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.8);
}

/*

NAVBAR

*/

.navbar {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.9) !important;
	max-height: 5em;
	width: 100%;
}

.navbar-brand {
	font-weight: 500;
	color: rgba(255, 255, 255, 0.9) !important;
}
.navbar-nav .nav-item .nav-link {
	color: rgba(255, 255, 255, 0.9) !important;
}
#navBar {
 	overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%;
}

#navBar ul {
  margin: 1.3em auto;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.9);
}

#navBar li {
	display: inline-block;
	padding: 0em 2em;
}

header {
	text-align: center;
	padding-top: 3.8em;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 3.8em;
}

#gameResult {
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

span {
	padding: 5px;
	text-align: right;
}

th {
	border-right: 1px solid black;
}

td {
	padding: 5px;
	text-align: right;
	border-right: 1px solid black;
}

tr {
	border-bottom: 1px solid black;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}

#sidebar {
	position: fixed;
	top: 3.8em;
}

#sidebar .fixed {
  position: fixed;
  top: 0;
}

#sidebar .bottom {
  position: absolute;
  bottom: 0;
  top: auto;
}

#sidebar .menu {
  list-style-type: none;
  margin: 0;
}

#sidebar .menu-item {
	position: relative;
	margin: 1em 0;
}

#sidebar .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #5dbaff;
  transition: width .3s ease-out;
  border-left: 1px solid #5dbaff;
}

#sidebar .menu-item:hover:before {
	width: 100%;
}

#sidebar .menu-item a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 1em 3em;
  text-align: left;
}

#sidebar .menu-item span {
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.gameCard {
	border: 1px solid #c1c1c1;
	margin-bottom: 1em;
}

.gameCard .gameTitle {
	border-bottom: 1px solid black;
	background: #c1c1c1;
}

.gameCard .gameTitle h3 {
	margin: 0;
	text-align: left;
	padding-left: 1em;
}

.gameStats li {
	text-align: left;
	display: inline-block;
}

.gameStats ul {
	display: inline-flex;
	justify-content: space-between;
	list-style-type: none;
	width: 100%;
	padding: 0;
}

.gameBody {
	padding: 1em 1em;
}

.gameBody table {
	width: 100%;
}

#homePageMain {
	background: url('../assets/images/bg.jpg') no-repeat center scroll; 
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
}

/* Link Styling */
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #fff;
}

/* GAME STYLING */

#gameStats {
	background: rgba(252, 252, 252, 0.2);
	margin-bottom: 2em;
}

#gameStats ul {
	list-styl-type: none;
	padding: 0 2em;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

#gameStats li {
	display: inline-flex;
	align-items: center;
}

.gameTable {
	margin: 0 1em 2em 1em;
}

.gameTable table {
	width: 100%;
}

.numberInput {
	padding: 1em;
}

.inputButton {
	padding: 1em;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

/*.navbar {
  padding: 1.5em 29.5em;
}*/

body {
  padding-bottom: 40px;
  background-color: #eee;
  background: rgba(252, 190, 77, 0.8);
background: -moz-linear-gradient(to bottom right, rgba(252, 190, 77, 0.8) 0%, rgba(253, 83, 76, 0.8) 100%);
background: -webkit-linear-gradient(to bottom right, rgba(252, 190, 77, 0.8) 0%, rgba(253, 83, 76, 0.8) 100%);
background: linear-gradient(to bottom right, rgba(252, 190, 77, 0.8) 0%, rgba(253, 83, 76, 0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc969', endColorstr='#fd8d68',GradientType=0 );
	color: rgba(255, 255, 255, 0.9);
}

/*body {
  padding-bottom: 40px;
  background-color: #eee;
  background: #FCBE4D;
background: -moz-linear-gradient(to bottom right, #FCBE4D 0%, #FD534C 100%);
background: -webkit-linear-gradient(to bottom right, #FCBE4D 0%,#FD534C 100%);
background: linear-gradient(to bottom right, #FCBE4D 0%,#FD534C 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCBE4D', endColorstr='#FD534C',GradientType=0 );
	color: rgba(255, 255, 255, 0.9);
}*/

.form-signin {
  max-width: 50%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {text-align: center;}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 1em 0.5em 1em 0.5em;
  font-size: 16px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 236, 204, 0.3);
  border-radius: 0;
  color: rgba(255, 255, 255, 0.9);
}
.form-control::placeholder {color: rgba(255, 236, 204, 0.8); padding-left: 3px;}
.form-control::-webkit-input-placeholder { color: rgba(255, 236, 204, 0.8); padding-left: 3px;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgba(255, 236, 204, 0.8); padding-left: 3px;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgba(255, 236, 204, 0.8); padding-left: 3px;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgba(255, 236, 204, 0.8); padding-left: 3px;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgba(255, 236, 204, 0.8); padding-left: 3px;}  /* Microsoft Edge */
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
.form-control:focus {
  caret-color: rgba(255, 255, 255, 0.9);
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#signUpLink, #loginLink {
	text-align: center;
	display: inherit;
}

.btn-primary {
	background-color: rgba(255, 236, 204, 0.8) !important;
	border: none !important;
	color: rgba(253, 83, 76, 0.6) !important;
	margin: 1.4em 0;
}
.btn:active, .btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

html,body{
    height: 100%
}

.footer {
	position: absolute;
	bottom: 0;
	max-width: inherit;
	width: inherit;
	margin-bottom: 1em;
}
.footer p {
	margin: auto;
}


/*rgba(242, 242, 242, 0.3)*/


/*

Site
Background: #F6FAF8;
Light Accent: #F1E767;
Main Brand Color: FEB645;
Dark Accent: #B3895F;
Dark Shade: 48F47;


Twitter
Casablanca	#fab542	Primary
Tundora	#483f47	Info
Chelsea Cucumber	#80b14c	Success
Tree Poppy	#fea114	Warning
Pomegranate	#f44336	Danger



dark: FD534C;
FCBE4D

*/