#navBar {
 	overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%;
}

#navBar ul {
  margin: 1.3em auto;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

#navBar li {
	display: inline-block;
	padding: 0em 2em;
}

header {
	text-align: center;
	padding-top: 3.8em;
	margin: 0 auto;
}

main {
	margin: 0 auto;
	text-align: center;
}

#gameResult {
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

span {
	padding: 5px;
	text-align: right;
}

th {
	border-right: 1px solid black;
}

td {
	padding: 5px;
	text-align: right;
	border-right: 1px solid black;
}

tr {
	border-bottom: 1px solid black;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}
