<div id="sidebar" class="sidebar col-3">
    <header>
        <div class="greet">
            <p class="message">Hello</h1>
            <h1 class="name">David Hong</p>
        </div>
        <hr>
        <div class="overview">
            <div class="games-played col-4">
                <p class="number">25</p>
                <p class="title">GAMES</p>
            </div>
            <div class="high-score col-4">
                <p class="number">207</p>
                <p class="title">HIGH SCORE</p>
            </div>
            <div class="avg-score col-4">
                <p class="number">179</p>
                <p class="title">AVG SCORE</p>
            </div>
        </div>
    </header>
    <section class="stats">
        <ul class="dropdown">
            <li id="score">SCORE</li>
            <div id="score-content" class="content hidden">
                <div class="max col-4">
                    <p class="number">207</p>
                    <p class="title">HIGH</p>
                </div>
                <div class="avg col-4">
                    <p class="number">179</p>
                    <p class="title">AVG</p>
                </div>
                <div class="min col-4">
                    <p class="number">79</p>
                    <p class="title">LOW</p>
                </div>
            </div>
            <li id="strikes">STRIKES</li>
            <div id="strikes-content" class="content hidden">
                <div class="max col-4">
                    <p class="number">8</p>
                    <p class="title">MAX</p>
                </div>
                <div class="avg col-4">
                    <p class="number">4.8</p>
                    <p class="title">AVG</p>
                </div>
                <div class="min col-4">
                    <p class="number">1</p>
                    <p class="title">MIN</p>
                </div>
            </div>
            <li id="spares">SPARES</li>
            <div id="spares-content" class="content hidden">
                <div class="max col-4">
                    <p class="number">6</p>
                    <p class="title">MAX</p>
                </div>
                <div class="avg col-4">
                    <p class="number">4.2</p>
                    <p class="title">AVG</p>
                </div>
                <div class="min col-4">
                    <p class="number">2</p>
                    <p class="title">MIN</p>
                </div>
            </div>
            <li id="open-frames">OPEN FRAMES</li>
            <div id="open-frames-content" class="content hidden">
                <div class="max col-4">
                    <p class="number">5</p>
                    <p class="title">MAX</p>
                </div>
                <div class="avg col-4">
                    <p class="number">3.2</p>
                    <p class="title">AVG</p>
                </div>
                <div class="min col-4">
                    <p class="number">0</p>
                    <p class="title">MIN</p>
                </div>
            </div>
        </ul>
    </section>
</div>